* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.hero {
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    padding: 100px 10%;
    gap:50px;
}
.hero-content {
    flex: 1;
}
.hero-content h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
     margin-bottom: 10px;
}
.hero-content p {
    font-size: 18px;
 margin-bottom: 20px;
color: #E5E7EB;
}
.hero-content button {
    background-color: #3882F6;
     color: white;
      border: none;
      padding: 10px 30px;
      border-radius: 5px;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
}
.hero-image {
    background-color: #6D747D;
color: #E5E7EB;
height: 250px;
display: flex;
justify-content: center;
align-items: center;
padding-left: 50px;
padding-right:50px;
}
.info {
    padding: 80px 10%;
    text-align: center;
}
.info h2{
     font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 50px;
}
.cards {
    display: flex;
      justify-content: center;
      gap: 50px;
}
.card {
    flex: 1;
    max-width: 200px;
}
.box{
    width: 150px;
height: 150px;
border: 3px solid #3882F6;
border-radius: 10px;
margin: 0 auto 10px;
}
.card p {
    color: #666;
    font-size: 16px;
}
.quote{
    padding: 100px 10%;
    background-color: #E5E7EB;
}
.quote-container {
    max-width: 800px;
    margin: 0 auto;
}
.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 20px;
}

.quote-author {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: right;
}
.cta {
      padding: 100px 10%;
}
.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
}
.cta-text h3{
     color: white;
    font-size: 24px;
    margin-bottom: 5px;
}

.cta-text p {
    color: #E5E7EB;
    font-size: 18px;
}
.cta-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
footer{
   background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 40px;
    font-size: 18px;
}